src/main/mule/customer-banking-mulesoft-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1b4fc7d2-e781-4a44-97ea-cd74eb76d484" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="customer-banking-mulesoft-appFlow" doc:id="d894d900-a211-4b03-ad71-a48e2a65a72d" >
		<http:listener doc:name="Listener" doc:id="2b26a1cb-9513-46bb-97ae-4695033a60b8" config-ref="HTTP_Listener_config" path="/health"/>
		<ee:transform doc:name="Transform Message" doc:id="89dbc8e7-7d38-48c6-ad69-cfb9cfc72774">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
status: "active",
service: "customer-banking-app",
timestamp:now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c44c0c2b-c8d5-4b25-ad8e-2a661606e921" message="#[payload]"/>
	</flow>
</mule>
